@font-face {
    font-family: 'Micro5';
    src: url('./fonts/Micro5-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Jersey15';
    src: url('./fonts/Jersey15-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Jersey10';
    src: url('./fonts/Jersey10-Regular.ttf') format('truetype');
}